@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("PT Sans Narrow"),
	  url("../fonts/ptsansnarrow.woff2") format("woff2"),
	  url("../fonts/ptsansnarrow.woff") format("woff");
}

@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("PT Sans Narrow"),
	  url("../fonts/ptsansnarrowbold.woff2") format("woff2"),
	  url("../fonts/ptsansnarrowbold.woff") format("woff");
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;

	padding: 10px;
	/* padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px; */
	
	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

.visually-hidden {
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.main-header {
	background-color: #000000;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	width: 960px;
	margin: 0 auto;
}

.site-navigation ,
.user-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation a ,
.user-navigation a {
	display: block;
	color: inherit;
	padding: 26px 20px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover ,
.user-navigation a:focus {
	background-color: #242424;
}

.site-navigation {
	display: flex;
}

.main-header-logo {
	align-self: center;
	margin: 60px 0 40px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 960px;
	margin: 0 auto;
}

/* Главная страница */
.main-page-bg {
	background-color: #000000;
	background-image: url('../img/main-bg.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
/* Главная страница */


/* Внутренние страницы */
.inner-page-bg {
	background-color: #ffffff;
	background-image: url('../img/inner-bg.png');
	color: #000000;
	font-weight: bold;
}

.inner-page-title {
	font-size: 30px;
	line-height: 42px;
	font-weight: 700;
}

.breadcrumbs {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.breadcrumbs__item {
	position: relative;
	margin-right: 16px;
	padding-right: 24px;
}

.breadcrumbs__item::after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background-color: #000000;
	position: absolute;
	right: 0;
	top: 7px;
	transform: rotate(45deg);
}

.breadcrumbs__item:last-child {
	margin-right: 0;
	padding-right: 0;
}

.breadcrumbs__item:last-child::after {
	display: none;
}

.breadcrumbs__link {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
}

.breadcrumbs__item:last-child .breadcrumbs__link {
	color: #aba9a7;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
	color: #663d15;
}

.pagination {
	display: flex;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination__item {
	margin-right: 8px;
}

.pagination__item a {
	display: block;
	/* min-width: 42px; */
	width: 42px;
}
/* Внутренние страницы */

.features-list {
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	list-style: none;
	padding: 0;
	margin: 0 0 63px;
}

.features-item  {
	width: 300px;
	padding: 0 10px;
	text-align: center;
}

.features-item h3 {
	font-size: 30px;
	line-height: 42px;
}

/* БЭМ */
/* 
	БЭМ - блок/элемент/модификатор

 */
.features {
	/* общие стили */
}

.features__list {
	/* Потомок .features */
}

.features__item {
	/* Потомок .features */
}

.features__header {
	font-size: 14px;
	color: black;
}

.features__header--red {
	color: red;
}

/* 
<div class='features'>
	<ul class='features__list'>
		<li class='features__item'>
			<h3 class='features__header'>Быстро</h3>
			<p class='features__text'>Мы делаем свою работу быстро! Два час пролетит незаметно и вы - счастливый обладатель стильной
				стрижки-минутки!</p>
		</li>
		<li class='features__item'>
			<h3 class='features__header features__header--red'>Быстро</h3>
			<p class='features__text'>Мы делаем свою работу быстро! Два час пролетит незаметно и вы - счастливый обладатель стильной
				стрижки-минутки!</p>
		</li>
	</ul>
</div>
*/
/* БЭМ */

.index-columns {
	display: flex;
	justify-content: space-between;
	color: #000000;
	
	background-color: #f8f5f2;
	background-image: url('../img/inner-bg.png');
	background-position: 0 0;
	background-repeat: repeat;

	padding: 20px 80px 50px;
}

.index-columns h2 {
	font-size: 30px;
	line-height: 42px;
	margin: 25px 0 20px;
}

.news {
	width: 380px;
}

.news-list {
	padding: 0;
	list-style: none;
}	

.news-item time {
	text-transform: none;
}	

/* Каталог */
.catalog-form__fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.catalog-form__legend {
	font-size: 24px;
    line-height: 30px;
	font-weight: 700;
    margin-bottom: 30px;
}

.checkbox {
	padding-left: 42px;
	position: relative;
}

.checkbox__decor {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 18px;
	height: 18px;
	border: 2px solid #000000;
}

.checkbox__decor::before,
.checkbox__decor::after {
	content: "";
	width: 3px;
	height: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
}

.checkbox__decor::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.checkbox__decor::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.catalog-form input:checked ~ .checkbox__decor::before,
.catalog-form input:checked ~ .checkbox__decor::after {
	background-color: #000000;
}

.radio {
	padding-left: 42px;
	position: relative;
}

.radio__decor {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 18px;
	height: 18px;
	border: 2px solid #000000;
	border-radius: 50%;
}

.radio__decor::before {
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
}

.radio__decor::before {
	transform: translate(-50%, -50%) rotate(45deg);
}


.catalog-form input:checked ~ .radio__decor::before,
.catalog-form input:checked ~ .radio__decor::after {
	background-color: #000000;
}

.catalog-list__link {
	font-size: 14px;
	line-height: 18px;
	text-transform: none;
	color: #000000;
}

.catalog-list__link span {
	text-transform: uppercase;
}

.catalog-list__price-wrap {
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, .1);
	margin: 0 16px 16px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog-list__item {
	position: relative;
	width: 220px;
	height: 286px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	box-shadow: 0 0 15px 0 rgb(0 1 1 / 20%);
}

.catalog-list__item img {
	margin-bottom: 12px;
	display: block;
}

.catalog-list__header {
	margin: 0 0 16px;
	padding: 0 16px;
}

.catalog-list__price {
	flex-grow: 1;

	font-size: 14px;
	line-height: 18px;
	text-align: center;
	font-weight: bold;
}

.catalog-list__button {
	min-width: 78px;
	align-self: stretch;
}

.btn-test {
	display: none;
	position: absolute;
	left: 50%;
	top: 50px;
	transform: translate(-50%, -50%);
}

.catalog-list__item:hover .btn-test {
	display: block;
}

.catalog-list__item:hover img {
	opacity: 0;
}
/* Каталог */

.gallery {
	width: 380px;
}
	
.gallery-content {
	background-color: #cccccc;
	border: 7px solid #ffffff;
	margin: 0 0 40px;
}	
.gallery-content a {
	display: block;

}	

.appointment {
	width: 380px;
}

.appointment-item {
	display: flex;
	flex-direction: column;
}

.appointment-item input {
	width: 140px;
}

.appointment-item input {
	font: inherit;
	
	background-color: transparent;
	border: 2px solid #000000;
}
.appointment-item input:focus {
	border-color: #663d15;
}
	
.main-footer {
	color: #ffffff;
	
	background-color: #212121;
	background-image: url('img/footer-bg.png');
	background-position: 0 0;
	background-repeat: repeat;
}	
	
.contacts {
	width: 380px;
}

.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}
	
.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}	
	
.footer-copyright {
	text-align: center;
}	

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000000;
	
	background-color: #ffffff;	
}	
	
.modal {
	color: #000000;
	
	background-color: #f8f3f0;
	background-image: url('../img/inner-bg.png');
	background-position: 0 0;
	background-repeat: repeat;
}	
	
.modal h2 {
	font-size: 30px;
	line-height: 42px;
}
	
.login-form input[type='text'],
.login-form input[type='password'] {
	font: inherit;
	
	color: #000000;
	text-transform: uppercase;
	
	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.login-form input:focus {
	border-color: #663d15;
}	
	
.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}
	
.restore {
	color: inherit;
	text-transform: underline;
}	
	
.restore:hover,
.restore:focus {
	text-decoration: none;
}

.page-header {
	font-size: 30px;
	line-height: 42px;
	font-weight: bold;
}


	
.brand {
	font-size: 24px;
    line-height: 30px;
}

.catalog__item {
	width: 220px;
	height: 286px;
	background-color: #ffffff;
	font-size: 14px;
}

.catalog {
	width: 700px;
	height: 1000px;
	padding-top: 7px;
}

.product__item {
	width: 460px;
	padding-top: 8px;
	flex-wrap: wrap;
}

.product__item-img {
	margin-bottom: 20px;
	border-style: none;
	list-style: none;
}

/* .item-about {
	display: flex;
	flex-wrap: wrap;
	width: 380px;
	font-weight: bold;
} */

.available-item {
	display: block;
}

.code-item {
	color: #aeaeae;
	margin-left: 40px;
}

.button-item {
	color: #ffffff;
}

.ref-item {
	color: #000000;
}

.item__price-wrap {
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, .1);
	margin: 0 16px 16px;
}

.item__price {
	flex-grow: 1;

	font-size: 14px;
	line-height: 18px;
	text-align: center;
	font-weight: bold;
}

.item__button {
	min-width: 78px;
	align-self: stretch;
}

.product-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 28px;
}

.product-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.product-item {
	position: relative;
	padding-left: 20px;
}

.product-item::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 8px;
    transform: rotate(45deg);
}

/* Страница Price */

.slogan {
	position: relative;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	padding-left: 175px;
	padding-right: 175px;
}

.slogan::before,
.slogan::after {
	content: "";
	display: block;
	height: 2px;
	width: 150px;
	background-color: #000000;
	position: absolute;
	top: 50%;
}

.slogan::before {
	left: 0;
}
.slogan::after {
	right: 0;
}

.list-brand {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item-brand {
	position: relative;
	font-weight: bold;
	padding-left: 20px;
}

.item-brand--red {
	color: red;
}

/* Позиционирование */
/* .test-pos {
	position: relative;
	width: 600px;
	height: 600px;
	border: 10px solid black;
	padding: 50px;
}

.item-pos {
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: blue;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
} */

.item-brand::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: #000000;
    position: absolute;
	top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
}

.price-title {
    width: 240px;
    font-size: 24px;
    line-height: 30px;
}

.table {
	margin-top: 30px;
    border-collapse: collapse;
}

.table-cost {
	border: 1px solid black;
}

.cell {
	border: 2px solid #000;
    padding: 8px 8px 8px 17px;
    width: 50%;
	font-weight: bold;
}

.cell--th {
	text-align: left;
}

.shop-inner {
    display: flex;
}

.shop-description {
	margin: 10px;
	font-weight: bold;
}

.page-footer {
	background-color: black;
	background-image: url('../img/footer-bg.png');
	color: #ffffff;
}
.page-footer a {
	color: #ffffff;
}

.page-footer__link {
	text-decoration: underline;
}

.social-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-list__item {
	margin: 0 5px 5px 0;
}

.social-list__link {
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

.social-list__link:hover,
.social-list__link:focus {
	background-color: #ffffff;
}

.social-list__link:hover .social-list__img,
.social-list__link:focus .social-list__img {
	fill: #000000;
}

.social-button:hover path {
	fill: red;
}

/* Кнопка футера соц, круглая */
/* a.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: blue;
} */

